{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cambio de Contraseña Realizado{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
    <h3>Bienvenido Andres</h3>
      <div class="col-sm-2 border-end">
       <ul class='list-unstyled'>
        <li class = "d-grid"><a href="{% url 'profile' %}"
        class="btn btn-primary">Cambió de Contraseña Realizado</a></li>
       </ul>
      </div>
      <div class="col-sm-9 offset-sm-1 text-center">
        <h3>Cambio de contraseña Realizado Satisfactoriamente</h3>
        <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200"
            frameBorder="0" class= "giphy-embed" allowFullScreen></iframe>
       </div>
     </div>
  </div>
  {% endblock main-content %}
  

